footer{
            background-color: #474797;
            height: 400px;
        }
div.footer1{
            background-color: rgb(125 13 13);
            height: 200px;
            font-size: 45px;
        }